* {
    text-align: center;
}
li {
    list-style-type: none;
}
#root {
    background-color: #C5EBC3;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
html {
    background-color: #C5EBC3;
    padding-bottom: 0px;
    margin-bottom: 0px;
}